n8n/workflows/telegram-privado-automation.json
{
  "name": "leite bets",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        1072
      ],
      "id": "9603064b-c471-4b0d-927a-a91aa3754d8d",
      "name": "Telegram Trigger",
      "webhookId": "6c024d23-b98c-4a13-b8df-cdab775967c0",
      "credentials": {
        "telegramApi": {
          "id": "r3jGr9HZgVXYHQtV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "ccd07dfa-a164-4e64-926a-678a513fb0fa"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f420167-e9e3-47b2-999c-19efc5ceeb8a",
                    "leftValue": "={{ $json.callback_query?.data }}",
                    "rightValue": "btn_",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4a8eec57-0893-4e2f-8c2a-aa3b3fc5260d",
                    "leftValue": "={{ $node[\"Telegram Trigger\"].json.callback_query.data }}",
                    "rightValue": "league_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a2d11a2c-9e08-415e-a4e1-d7d4f7cd715a",
                    "leftValue": "={{ $node[\"Telegram Trigger\"].json.callback_query.data }}",
                    "rightValue": "game_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "593d29e4-fd8e-47a0-9288-800584cf778b",
                    "leftValue": "={{ $node[\"Telegram Trigger\"].json.callback_query.data }}",
                    "rightValue": "fechar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -64,
        1024
      ],
      "id": "1135412e-2f7d-4f52-accc-4c83223dd496",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8523617708:AAFbWdDNv9QgThOMlTvo03-GwB_k_3fa00A/editMessageText?chat_id={{$node[\"Telegram Trigger\"].json.callback_query.message.chat.id}}&message_id={{$node[\"Telegram Trigger\"].json.callback_query.message.message_id}}&text={{encodeURIComponent(\"Consulta finalizada. Quando precisar de novas odds, é só chamar! 👋\")}}&reply_markup={{encodeURIComponent(JSON.stringify({inline_keyboard: []}))}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        1456
      ],
      "id": "fd7313c6-3138-42f9-abc2-bcf9e8350431",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8523617708:AAFbWdDNv9QgThOMlTvo03-GwB_k_3fa00A/sendMessage?chat_id={{ $node[\"Telegram Trigger\"].json.message.chat.id }}&text={{ encodeURIComponent(\"👋 Olá, \" + ($node[\"Telegram Trigger\"].json.message.from.first_name || \"usuário\") + \"!\\n\\nBem-vindo ao seu Comparador de Odds. Aqui você encontra as melhores cotações em tempo real.\\n\\nClique no botão abaixo para começar:\") }}&parse_mode=Markdown&reply_markup={{ encodeURIComponent(JSON.stringify({ inline_keyboard: [[{ text: \"🚀 Ver Campeonatos\", callback_data: \"btn_1\" }]] })) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        688
      ],
      "id": "c39b41b0-7ee3-4338-94ae-453bea4913a8",
      "name": "Olá"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8523617708:AAFbWdDNv9QgThOMlTvo03-GwB_k_3fa00A/sendMessage?chat_id={{ $node[\"Telegram Trigger\"].json.callback_query.message.chat.id }}&text={{ encodeURIComponent(\"Selecione um campeonato para ver as Odds:\") }}&reply_markup={{ encodeURIComponent(JSON.stringify($json.reply_markup)) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        880
      ],
      "id": "bbcdcc4f-d432-4f4a-8cb7-d5d61103d768",
      "name": "Liga"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8523617708:AAFbWdDNv9QgThOMlTvo03-GwB_k_3fa00A/sendMessage?chat_id={{ $node[\"Telegram Trigger\"].json.callback_query.message.chat.id }}&text={{ encodeURIComponent(\"Jogos disponíveis em \" + $json.liga + \":\") }}&reply_markup={{ encodeURIComponent(JSON.stringify($json.reply_markup)) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        1072
      ],
      "id": "e64d4626-2100-4994-bba3-4d76c7e8f63b",
      "name": "Jogo"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8523617708:AAFbWdDNv9QgThOMlTvo03-GwB_k_3fa00A/editMessageText?chat_id={{$node[\"Telegram Trigger\"].json.callback_query.message.chat.id}}&message_id={{$node[\"Telegram Trigger\"].json.callback_query.message.message_id}}&text={{encodeURIComponent($json.texto)}}&parse_mode=Markdown&reply_markup={{encodeURIComponent(JSON.stringify({ inline_keyboard: [[{ text: \"⬅️ Voltar para \" + $json.liga, callback_data: \"league_\" + $json.liga }], [{ text: \"🏠 Início\", callback_data: \"btn_1\" }, { text: \"❌ Fechar\", callback_data: \"fechar\" }]] }))}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        1264
      ],
      "id": "2e107547-d61e-4f47-a968-0bacca9c9d58",
      "name": "Odd"
    },
    {
      "parameters": {
        "url": "http://betting-bot-api:8000/api/events",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        880
      ],
      "id": "3f3bb1a8-81a4-49e6-a22a-5d1aafba28cd",
      "name": "BD_Liga"
    },
    {
      "parameters": {
        "url": "http://betting-bot-api:8000/api/events",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        1072
      ],
      "id": "c47287cf-fcf8-4c56-8410-7ae0fed144e7",
      "name": "BD_Jogo"
    },
    {
      "parameters": {
        "url": "http://betting-bot-api:8000/api/events",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        1264
      ],
      "id": "8fe939a1-cea8-4d87-adba-7920a461e776",
      "name": "BD_Odd"
    },
    {
      "parameters": {
        "jsCode": "// Pega a lista de eventos da sua API\nconst eventos = $input.first().json.events || [];\nconst ligasUnicas = new Set();\nconst botoes = [];\n\neventos.forEach(evento => {\n    // Garante que não vamos repetir botões para a mesma liga\n    if (evento.league && !ligasUnicas.has(evento.league)) {\n        ligasUnicas.add(evento.league);\n        botoes.push([{\n            text: `⚽ ${evento.league}`,\n            callback_data: `league_${evento.league}`\n        }]);\n    }\n});\n\nreturn { json: { reply_markup: { inline_keyboard: botoes } } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        880
      ],
      "id": "41a3a9cb-c0fa-4a93-b5ed-5c8f95edf684",
      "name": "Code_Liga"
    },
    {
      "parameters": {
        "jsCode": "// Captura a liga clicada\nconst clique = $node[\"Telegram Trigger\"].json.callback_query.data;\nconst ligaAlvo = clique.replace('league_', '');\n\nconst eventos = $input.first().json.events || [];\nconst idsProcessados = new Set(); // Conjunto para evitar duplicatas\nconst botoes = [];\n\neventos.forEach(jogo => {\n    // Só entra se for a liga certa E se ainda não processamos este ID de evento\n    if (jogo.league === ligaAlvo && !idsProcessados.has(jogo.eventId)) {\n        idsProcessados.add(jogo.eventId); // Marca o ID como processado\n        \n        botoes.push([{\n            text: `🏟️ ${jogo.homeTeam} x ${jogo.awayTeam}`,\n            callback_data: `game_${jogo.eventId}` // Envia para a Saída 3\n        }]);\n    }\n});\n\nreturn { json: { reply_markup: { inline_keyboard: botoes }, liga: ligaAlvo } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1072
      ],
      "id": "938688cb-4062-461e-bc68-5256d91fd278",
      "name": "Code_Jogo"
    },
    {
      "parameters": {
        "jsCode": "const clique = $node[\"Telegram Trigger\"].json.callback_query.data;\nconst idDoJogo = clique.replace('game_', '');\nconst eventos = $input.first().json.events || [];\n\n// Filtra o jogo pelo ID\nconst jogoEncontrado = eventos.find(e => String(e.eventId) === String(idDoJogo));\n\nif (!jogoEncontrado || !jogoEncontrado.odds) {\n    return { json: { texto: \"⚠️ Nenhuma Odd disponível para este jogo no momento.\" } };\n}\n\nlet textoOdds = `📊 *ODDS: ${jogoEncontrado.homeTeam} x ${jogoEncontrado.awayTeam}*\\n`;\ntextoOdds += `🏆 Liga: ${jogoEncontrado.league}\\n\\n`;\n\n// Percorre o objeto 'odds' onde cada chave é o nome da banca (Bet365, Betano, etc)\nconst bancas = Object.keys(jogoEncontrado.odds);\n\nbancas.forEach(banca => {\n    const cotacao = jogoEncontrado.odds[banca];\n    \n    textoOdds += `📍 *${banca}*\\n`;\n    textoOdds += `  • Casa: ${cotacao.homeOdd || '---'}\\n`;\n    textoOdds += `  • Empate: ${cotacao.drawOdd || '---'}\\n`;\n    textoOdds += `  • Fora: ${cotacao.awayOdd || '---'}\\n`;\n    // Adicionais se você quiser mostrar:\n    textoOdds += `  • 1X: ${cotacao.homeOrDrawOdd || '---'} | X2: ${cotacao.awayOrDrawOdd || '---'}\\n\\n`;\n});\n\ntextoOdds += `_🕒 Atualizado: ${new Date().toLocaleTimeString('pt-BR')}_`;\n\nreturn { \n    json: { \n        texto: textoOdds, \n        liga: jogoEncontrado.league // <--- Adicionamos essa linha para o nó de envio saber qual era a liga\n    } \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1264
      ],
      "id": "24a016ce-69b4-4d11-ad11-d99e3d9540e5",
      "name": "Code_Odd"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Olá",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BD_Liga",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BD_Jogo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BD_Odd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BD_Liga": {
      "main": [
        [
          {
            "node": "Code_Liga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BD_Jogo": {
      "main": [
        [
          {
            "node": "Code_Jogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BD_Odd": {
      "main": [
        [
          {
            "node": "Code_Odd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Liga": {
      "main": [
        [
          {
            "node": "Liga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Jogo": {
      "main": [
        [
          {
            "node": "Jogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Odd": {
      "main": [
        [
          {
            "node": "Odd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "571ce30a-3350-4c09-aa52-cd7ef094aec1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3c690c4fd3014eb8a3cd0387f431535043fe68cadf9b560bc16aac258bbac0c"
  },
  "id": "5NWLGS1Qf53l6NhxzUfAN",
  "tags": []
}